.modal-btn {
  width: 100px;
  height: 40px;
  color: white;
  background: #201e27;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
}
.cross {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.modal-select-btn {
  padding: 0.625rem 2rem;
  min-width: 100px;
  height: 44px;
  border: none;
  color: white;
  background: #1a73e8;
  border-radius: 50px;
  outline: none;
  font-weight: 600;
  font-size: 0.875rem;
}

.modal-select-normal {
  padding: 0.625rem 2rem;
  min-width: 100px;
  height: 44px;
  border: none;
  color: #afb7c2;
  background: none;
  border: 1px solid #afb7c2;
  border-radius: 50px;
  font-weight: 500;
  font-size: 0.875rem;
}

.inp-co-1 {
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
}
.inp-co > input {
  color: black;
  font-size: 0.875rem;
  font-family: Inter;
}
.inp-co > input:focus {
  border: 2px solid #95d9ca;
}
.inp-co-user {
  /* padding: 0 10px 10px 10px; */
  display: flex;
  flex-direction: row;
  justify-content: right;
  flex-wrap: wrap;
}
#com {
  margin-top: 20px;
}
.two {
  display: flex;
}
.two > .inp-co:nth-child(1) {
  padding-right: 10px;
  padding-left: 60px;
  width: 50%;
}
.two > .inp-co:nth-child(2) {
  padding-right: 60px;
  padding-left: 10px;
  width: 50%;
}

.inp-type {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #a0a5af;
  outline: none;
  transition: 0.3s;
}
.inp-type:focus {
  border: 2px solid #95d9ca;
}
.inp-type:hover {
  border: 1px solid #95d9ca;
}
.exp {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.err-msg {
  color: red;
  font-weight: 700;
}
.res {
  cursor: pointer;
  margin-right: 10px;
}
.res:focus {
  outline: none;
}
@media (max-width: 540px) {
  .two {
    flex-direction: column;
    width: 100%;
  }
  .two > .inp-co:nth-child(1) {
    padding-right: 10px;
    padding-left: 10px;
    width: calc(100% - 20px);
  }
  .two > .inp-co:nth-child(2) {
    padding-right: 10px;
    padding-left: 10px;
    width: calc(100% - 20px);
  }
  .inp-co-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .inp-co-user {
    flex-direction: column;
  }
  .res {
    margin-bottom: 20px;
  }
  #com {
    margin-top: 0;
  }
}
